---
title: Simple Calculator
---
<!-- Created by Hongda Lin (7/7/2021) -->
<body>
  <div class="container">
    <div class="calculator">
      <div class="calculator_display">0</div>
      <div class="calculator_keys">
        <table>
          <tbody>
            <tr class="row" id="1st_row">
              <td><button class="memory" id="ms" value="MS">MS</button></td>
              <td><button class="memory" id="mr" value="MR">MR</button></td>
              <td><button class="memory" id="m+" value="M+">M+</button></td>
              <td><button class="operator" id="plus" value="+">+</button></td>
            </tr>
            <tr class="row" id="2nd_row">
              <td><button class="digit" id="seven" value="7">7</button></td>
              <td><button class="digit" id="eight" value="8">8</button></td>
              <td><button class="digit" id="nine" value="9">9</button></td>
              <td><button class="operator" id="minus" value="-">-</button></td>
            </tr>
            <tr class="row" id="3rd_row">
              <td><button class="digit" id="four" value="4">4</button></td>
              <td><button class="digit" id="five" value="5">5</button></td>
              <td><button class="digit" id="six" value="6">6</button></td>
              <td><button class="operator" id="times" value="&times">&times;</button></td>
            </tr>
            <tr class="row" id="4th_row">
              <td><button class="digit" id="one" value="1">1</button></td>
              <td><button class="digit" id="two" value="2">2</button></td>
              <td><button class="digit" id="three" value="3">3</button></td>
              <td><button class="operator" id="divide" value="&divide">&divide;</button></td>
            </tr>
            <tr class="row" id="5th_row">
              <td><button class="digit" id="zero" value="0">0</button></td>
              <td><button class="operator" id="period" value=".">.</button></td>
              <td><button class="operator" id="clear" value="AC">AC</button></td>
              <td><button class="operator" id="result" value="=">=</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
