---
title: Simple Calculator
---
<!-- Created by Hongda Lin (7/7/2021) -->
<body>
    <div class="calculator">
      <div class="calculator_display" name="display">0</div>
      <div class="calculator_keys">
        <table>
          <tbody>
            <tr class="row" id="1st_row">
              <td><input type="button" name="memory" value="MC"></td>
              <td><input type="button" name="memory" value="MR"></td>
              <td><input type="button" name="memory" value="M+"></td>
              <td><input type="button" name="memory" value="M-"></td>
              <td><input type="button" name="memory" value="MS"></td>
            </tr>
            <tr class="row" id="2nd_row">
              <td><button name="operator" value="&percnt">&percnt;</button></td>
              <td><button name="operator" value="x&sup2">x&sup2;</button></td>
              <td><button name="operator" value="&radic">&radic;</button></td>
              <td><button name="special" value="&pi;">&pi;</button></td>
              <td><button name="operator" value="&divide">&divide;</button></td>
            </tr>
            <tr class="row" id="3rd_row">
              <td><button name="digit">7</button></td>
              <td><button name="digit">8</button></td>
              <td><button name="digit">9</button></td>
              <td><button name="operator" value="DEL">DEL</button></td>
              <td><button name="operator" value="&times">&times;</button></td>
            </tr>
            <tr class="row" id="4th_row">
              <td><button name="digit">4</button></td>
              <td><button name="digit">5</button></td>
              <td><button name="digit">6</button></td>
              <td><button name="sign" value="POS">POS</button></td>
              <td><button name="operator" value="-">-</button></td>
            </tr>
            <tr class="row" id="5th_row">
              <td><button name="digit">1</button></td>
              <td><button name="digit">2</button></td>
              <td><button name="digit">3</button></td>
              <td><button name="sign" value="NEG">NEG</button></td>
              <td><button name="operator" value="+">+</button></td>
            </tr>
          <tr class="row" id="6th_row">
            <td><button name="decimal" value=".">.</button></td>
            <td><button name="digit">0</button></td>
            <td><button name="clear" value="C">C</button></td>
            <td><button name="clear" value="CE">CE</button></td>
            <td><button name="equal" value="=">=</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
</body>
